body {
  background: rgb(135, 112, 79) 0%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#logo2 {
  background: rgba(255, 255, 255, 0.1); /* semi-transparent background */
  /* Frutiger Aero box shadow */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1), 0 0 15px rgba(255,255,255,0.2) inset;
  transition: background 0.3s, transform 0.2s;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  flex-direction: column; /* stack the button on top of the other two */
  width: fit-content;
  align-items: center;
  margin-top: 1px;
    font-size: large;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#registerh1 {
  color: white;
  text-align: center;
}
#Username, #Email, #Password, #ConfirmPassword, #Register {
  background: rgba(255, 255, 255, 0.1); /* semi-transparent background */
  /* Frutiger Aero box shadow */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1), 0 0 15px rgba(255,255,255,0.2) inset;
  transition: background 0.3s, transform 0.2s;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: medium;
  padding: 10px 10px 10px 10px;
  display: block;
  margin: 0 auto;
}
#Login {
    background: rgba(255, 255, 255, 0.1); /* semi-transparent background */
    /* Frutiger Aero box shadow */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1), 0 0 15px rgba(255,255,255,0.2) inset;
    transition: background 0.3s, transform 0.2s;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
}
#Register {
    font-weight: bold;
}
.Formbuttons {
  color: white;
  border: none;
  padding: 0px;
  border-radius: 5px;
  cursor: pointer;
  font-size: medium;
  display: flex;
  margin: 0 auto;
  width: fit-content;
  gap: 10px;
}
::placeholder {
    color: white;
    font-weight: bold;
}
/* Changes the layout for small screens */
/* Responsive: stack navbar items on small screens */
@media (max-width: 430px) {
  #navbar1 {
    align-items: center;
  }
  #nav-buttons {
    flex-direction: center; /* stack buttons horizontally, but with 1 on top*/
    width: 100%;
    align-items: center;
    margin-top: 10px;
  }
  #logo2 {
    flex-direction: column; /* stack the button on top of the other two */
    width: 100%;
    align-items: center;
    margin-top: 1px;
  }
}